.root {
    -fx-base: #000000;
    -fx-background: #1a1a1a;
    -fx-text-fill: #ffffff;
	-fx-selection-bar-color: #ff6600;
    -fx-selection-text-color: #000000;
}

.label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: linear-gradient(#333333, #1a1a1a);
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-padding: 8px 16px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #ffffff;
    -fx-border-width: 2px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: linear-gradient(#444444, #2a2a2a);
    -fx-border-color: #ffcc00;
}

.button:pressed {
    -fx-background-color: linear-gradient(#555555, #333333);
    -fx-border-color: #ffaa00;
}

.text-field {
    -fx-background-color: #262626;
    -fx-text-fill: #ffffff;
    -fx-border-color: #ffffff;
    -fx-border-width: 2px;
    -fx-padding: 4px;
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
}

.text-field:hover {
    -fx-border-color: #ffcc00;
}

.text-field:focused {
    -fx-border-color: #ff6600;
    -fx-background-color: #333333;
}

.table-view {
    -fx-background-color: #1a1a1a;
    -fx-table-cell-border-color: #333333;
    -fx-border-color: #ffffff;
    -fx-padding: 5px;
}

.table-row-cell {
    -fx-background-color: #262626;
    -fx-text-fill: #ffffff; /* Testo bianco nelle celle */
}

.table-row-cell:hover {
    -fx-background-color: #333333;
}

.table-row-cell:selected {
    -fx-background-color: #ffcc00;
}

.table-row-cell:selected .text {
    -fx-fill: #000000;
}

.table-column-header {
    -fx-background-color: linear-gradient(#333333, #1a1a1a);
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-border-color: #ffffff;
}

.table-column-header:hover {
    -fx-background-color: linear-gradient(#444444, #2a2a2a);
    -fx-border-color: #ffcc00;
}

.button:hover, .text-field:hover, .table-row-cell:hover {
    -fx-cursor: hand;
}

.table-row-cell .text {
    -fx-fill: #ffffff;
}

.context-menu .Elimina {
    -fx-background-color: #FF0000;
    -fx-text-fill: white;
}