Pane {
	-fx-background-color: rgb(0, 0, 0);
	-fx-color: rgb(15, 15, 15);
}

TextField {
	-fx-background-color: gray;
	-fx-text-fill: white;
}

Text {
	-fx-color: white;
}

Label {
	-fx-color: white;
}

Button {
	-fx-background-color: rgb(30, 30, 30);
	-fx-text-fill: white;
}

Button:hover {
	-fx-background-color: rgb(70, 70, 70);
}

.root {
	-fx-background-color: #333333;
}

.table-view {
	-fx-background-color: #252525;
	-fx-color: white;
}

.table-view .table-column-header {
	-fx-background-color: #303030;
}